<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Goodbye</title>
</head>
<body style="background-color:black;"></body>
<body>
<h1 style="text-align:center;color:white"> SELF DESTRUCTION COUNTDOWN</h1>
<center>
<div class="tenor-gif-embed" data-postid="21681724" data-share-method="host" data-aspect-ratio="0.765625" data-width="50%"><a href="https://tenor.com/view/countdown-gif-21681724">Countdown GIF</a>from <a href="https://tenor.com/search/countdown-gifs">Countdown GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
</center>
</body>
</html>